.search{

	.container{
		max-width: 480px;
		height: auto;
	}

	.page_title{
		font-size: 45px;
		font-family: 'Sanchez', serif;
		font-family: 'Raleway Dots', cursive;
		text-align: center;
		padding-top: 10px;

	}

	.meal_title{
		font-size: 18px;
		font-family: 'Noto Serif', serif;
		text-align: center;
		padding-top: 10px;
		font-color: #707070;
		text-align: left;
		padding-left: 30px;
	}


	.search-box{
		padding-top: 10px;
		margin-top: -20px;
		width: 275px;

	}


	.btn{
		padding-top: 10px;
		margin-top: -20px;
	}

	#container{
		background-color: #363636;
		font-size: 15px;
		margin-left: 10px;

	}


	.image-results{
		padding-left: 30px;
		padding-top: 25px;
	}

	
	.footer .footer-text{
		margin-top: 30px;
		font-size: 16px;
		font-family: 'Roboto Slab', serif;
		text-align: center;
		color: #efefef;
	}

	
	
	

}